imgShare/n8n/Chat LINE กับ AI.json
{
  "name": "Chat LINE กับ AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4e66ab53-a837-41ab-9a39-2723e4ba6214",
      "name": "Webhook",
      "webhookId": "071b1d5d-a38f-411d-8049-1d09e8ad7ce6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df6bbf0e-540b-40da-8619-55ff1a3637ec",
              "name": "body.events[0].message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "d6948372-70bb-4a65-99f1-96107eaa0627",
              "name": "body.events[0].source.userId",
              "value": "={{ $json.body.events[0].source.userId }}",
              "type": "string"
            },
            {
              "id": "7af25fec-1ccd-4af9-a12a-2131331e9e52",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "64286063-97ed-4df8-b1d8-47470945e0f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "=เธอเชื่อ อาจารย์ วอแว เป็นอาจารย์ใหม่ เพศชาย คณะ IT SPU เธอะจะตอบคำถามที่ผู้ใช้ส่งมา (ให้ตอบภาษาไทย) เธออยู่ใน Timezone เอเชีย (Asia/Bangkok, UTC+7) วันนี้คือวันที่ {{ $now }} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "7c51725d-19e1-4020-bd43-afb594d81038",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "f32a0c61-65f9-43cf-a6dd-8a52e129900c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3669rIjEHH4K9Xgt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer yKCJfTWrvZlpBK/9XrlDNrWYXt1pEKvcuu34KJ/CDaI2PBoCJVpaipAY/6vklgglR0XZRt/z6iAP5P+h40QvIclNlgIG6dSUaKouU9JeQa9x2O5FIq3lb/ycpOPiuyfjUOtKf5nqN1XHjNTdXggM8AdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"replyToken\": \"8d76f06608ed4cf3800dd10e295f27dc\",\n\"messages\": [\n{\n\"type\": \"text\",\n\"text\": \"สวัสดีครับ! ผมอาจารย์วอแว อาจารย์ใหม่จากคณะ IT SPU ยินดีที่ได้รู้จักนะครับ มีอะไรให้ผมช่วยเหลือหรืออยากสอบถามเกี่ยวกับคณะ IT หรือเรื่องอื่นๆ ไหมครับ?\"\n}\n]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "2c8b4eae-8f43-43a6-9c35-db26008a75b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.body.events[0].source.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "108a2cab-d023-4225-a07b-2793a0f97622",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a49a91ed-9d04-4374-9472-82228ec793d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08e5372234c31f7410b34988b4ed9ad772109b70c19bb43fd587640dd2f991d8"
  },
  "id": "ULZ5Wokgb5OHnGby",
  "tags": []
}